
/* Estilos para la columna izquierda */
.left-column {
    width: 50%; /* Ancho de la columna izquierda */
    float: left; /* Flotar la columna a la izquierda */
    
}

/* Estilos para la imagen */
.left-column img {
    width: 100%; /* Ancho máximo de la imagen dentro de la columna */
    height: auto; /* Altura automática para mantener la proporción */
   
}

/* Estilos para la columna derecha */
.right-column {
    width: 50%; /* Ancho de la columna derecha */
    float: right; /* Flotar la columna a la izquierda */
}


/* Estilos para el contenedor */
.container {
    justify-content: center;
}
    
.mapa{justify-content: center;
height: 50px;}

h1, img {
    display: inline-block; /* Hace que los elementos se muestren en línea */
    vertical-align: middle; /* Alinea verticalmente los elementos */
}
